*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: rgb(189, 187, 187);
    display: flex;
    height: 100vh;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}

.box-degrade{

    height: 270px;
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, blue, orangered,yellow );
    background-size: 500% 100%;/*eixo x 500% eixo y 100%*/
    animation: colors 3s infinite alternate;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    transition: 0.2s;
}

@keyframes colors {
    0%{
        background-position-x:0% ;
    }
    100%{
        background-position-x:100% ;
    }
}


.conteiner{
    /* background:linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0)) ; */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    background-color: white;
    height: 260px;
    width: 400px;
    border-radius: 20px;
    padding:20px;
    transition: 0.2s;
    /* border: 1px solid rgba(255,255,255,0.18); */
    /* box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); */
    

}

.conteiner.active{
    height:500px ;
}

#qr-header{
    text-align: center;
}
#qr-header h1{
    font-weight: bolder;
    margin-bottom: 10px;
}
#qr-header p{
    color: #444;
    
    
}
/*form*/
#qr-form input,#qr-form button{
    width:100%;
    height: 55px;
    border: none;
    border-radius: 5px;
}
#qr-form input{
    border: 1px solid #777;
    padding: 10px 15px;
    margin: 10px;
}
#qr-form button{
    background-color: #086824;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;

}
#qr-form button:hover{
    box-shadow: 0px 0px 8px #086824;
    transform: scale(1.05);
}

/*QR  code*/
#qr-code{
    display: flex;
    border: 1px solid #ccc;
    padding: 30px;
    justify-content: center;
    border-radius: 5px;
    transition: .5s;
    opacity: 0;
}

.conteiner.active #qr-code{
    opacity: 1;
}